.miniImg{
  width: 40px;
  height: 40px;
}

ion-menu-button{
  background: #3dc2ff;
}

ion-toolbar{
  padding: 5px;
}

ion-icon{
  width: 40px;
  height: 40px;
  margin: 5px;
}

ion-header{
  background: var(--ion-color-success);
}

ion-toolbar{
  color: var(--ion-color-success);
}
