<app-header></app-header>
<ion-content class="ion-padding">
  <swiper [config]="slideOpts">
    <ng-template *ngFor="let c of categorias" swiperSlide>
      <ion-avatar (click)="clickCategoria(c);" >
        <ion-img src="{{c.url}}"> </ion-img>
        <ion-label>{{c.nombre}}</ion-label>
      </ion-avatar>
    </ng-template>
  </swiper>


  <ion-card *ngFor="let s of seriesScroll">
    <ion-card-header >
      <ion-row>
        <ion-title>{{s.nombre}}</ion-title>
        <ion-avatar class="avatarCard" [style.display]="isVisible ? 'block':'none'">
          <ion-img  src="{{img}}"> </ion-img>
        </ion-avatar>
      </ion-row>
    </ion-card-header>
    <ion-img src="{{s.url[0]}}"></ion-img>
    <ion-card-content>
      <ion-label>{{s.sinopsis}}</ion-label>
      <br>
      <br>
      <ion-label>Año: {{s.year}}</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loading-spinner="crescent"
      loadingText="Cargando 3 más....">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
