<app-header></app-header>
<ion-content class="ion-padding">
  <ion-card *ngFor="let s of seriesScroll">
    <ion-card-header>
      <ion-title>{{s.nombre}}</ion-title>
    </ion-card-header>
    <ion-img src="{{s.url[0]}}"></ion-img>
    <ion-card-content>
      <ion-label class="lbl-categorias">Categorias: {{sacarCategorias(s)}}</ion-label>
      <br>
      <br>
      <ion-label>{{s.sinopsis}}</ion-label>
      <br>
      <br>
      <ion-label>Año: {{s.year}}</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loading-spinner="crescent"
      loadingText="Cargando 3 más....">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

